################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTQH/src/Main.IdentityServer/tempkey.jwk
*.jwk
