@page
@using Microsoft.Extensions.Localization
@using TinhThanhModule.Localization
@using TinhThanhModule.Web.Pages.TinhThanhModule
@model TinhThanhModule.Web.Pages.TinhThanhModule.IndexModel
@inject IStringLocalizer<TinhThanhModuleResource> L

@{
}
<h1>TinhThanhModule</h1>
<p>@L["SamplePageMessage"]</p>
