/* Variable css */
:root{
    --normal-color: #fff;
    --nav-height: 46px;
    --normal-size: 1.5rem;
    --index-max: 1000;
}


/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* rem font size: 1rem = 10px */
    font-size: 62.5%; 
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tù tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (witdh, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)

*/

#main{
height: 1500px;
}
#header{
    position: fixed;
    z-index: var(--index-max);
    top :0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    background-color: #000;
}

#header .search-btn{
    float: right;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336!important;
}

#header .search-icon{
    line-height: var(--nav-height);
    font-size: var(--normal-size);
    color: #fff;
    padding: 0 24px;
}

#nav, .sub-nav{
    list-style-type: none;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}

#nav li{
    
    position: relative;
}
#nav  li  a{
    text-decoration: none;
    font-size: var(--normal-size);
    color: var(--normal-color);
    line-height: var(--nav-height);
    display: inline-block;
    padding: 0 24px;

}

#nav > li > a{
    text-transform: uppercase;
}

#nav .nav-arrow-down{
    font-size: 1.4rem;
}

#nav > li:hover > a,
#nav .sub-nav li:hover {
    background-color: #ccc!important;
    color: #000!important;
}

#nav li:hover .sub-nav{
    display: block;
}

#nav .sub-nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    /* trục x, trục y, dộ dầy, màu*/
    box-shadow: 0 0 10px #000;
}
#nav .sub-nav a{
    line-height: 38px;
    color: #000;
    padding: 0 16px;
}

#slider{
    position: relative;
    /* cho chiều cao bằng 50% chiều ngang của chính nó */
    padding-top: 50%; 
    margin-top: var(--nav-height);
    max-width: 2000px;
    background: url(/w3_band/assets/img/slider/la.jpg) top center /cover no-repeat, url(/w3_band/assets/img/img-not-found.png);
}
#slider .text-content{
    position: absolute;
    text-align: center;
    /* Cách 1 */
    width: 100%;
    /* Cách 2
    left: 50%;
    transform: translateX(-50%); */
    /* Cách 3
    left: 0;
    right: 0; */
    bottom: 0;
    padding: 32px 16px;
    color: var(--normal-color);
}
#slider .text-heading{
    font-size: 2.4rem;
}
#slider .text-description{
    margin-top: 25px;
}
.content{
    margin: 0 auto;
    padding: 64px 16px;
}
.content .content-section{
}
.content .content-section .section-heading{
    margin-top: 10px;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    max-width: 800px;
    letter-spacing: 4px;
}
.content .content-section .section-sub-heading{
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}
.content .about-text{
    position: absolute;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.4;
}
#container{

}
#footer{

}